body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	font-family: open-sans;
}
.postcard-header {
	display: flex;
	justify-content: space-between;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 200px;
	margin: 0;
	justify-content: space-between;
}
.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
	margin-left: 0;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: 3px solid grey;
}
.body-right {
	width: 200px;
	white-space: nowrap;
	align-items: left;
	margin: 10px;
}
.body-left p {
	font-size: 15px;
	text-align: left;
}

.postcard-footer {
	text-align: center;
}
button {
	background-color: darkgray;
	padding: 5px;
}
